input,select {
   width: 70%;
}

th, td {
    width: 150px;
}

th {
    color: black;

}

.wrapper {
    width: 90%;
    margin: 0 auto;

}

table {
    border-collapse:separate; 
    border-spacing: 0 10px; 
}

.row {
    margin-bottom: 20px;
}

.row:after, .row:before {
    content: none;
}

.case-image {
    width: 400px;
    margin-right: 20px;
    /* border: 2px solid gray; */
    -webkit-box-shadow: 3px 4px 17px -1px rgba(105,102,105,0.9);
    -moz-box-shadow: 3px 4px 17px -1px rgba(105,102,105,0.9);
    box-shadow: 3px 4px 17px -1px rgba(105,102,105,0.9);
    border-radius: 0px 16px 100px 16px;
    -moz-border-radius: 0px 16px 100px 16px;
    -webkit-border-radius: 0px 16px 100px 16px;
}

.description {
    display: flex;
    font-size: 22px;
}

.text {
    width: 900px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.dropdown-menu {
    background: white;
    opacity: 0.7;
    border-radius: 10%;
}

.result-table {
    font-size: 20px;
}

.result-table__data {
    width: 278px;
}

.result-table__calc {
    font-weight: bold;
}

.input-table {
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .case-image {
      width: 43%;
      height: 43%;
    }
  }
